.color-1 {color: #edf1ff;}
.color-2 {color: #dae4ff;}
.color-3 {color: #b5c9ff;}
.color-4 {color: #91adff;}
.color-5 {color: #6c92ff;}
.color-6 {color: #fff6da;}
.color-7 {color: #ffecb5;}
.color-8 {color: #ffe391;}
.color-9 {color: #ffd96c;}
.color-10 {color: #1f2124;}
.color-11 {color: #3e4148;}
.color-12 {color: #5e626b;}
.color-13 {color: #7d828f;}

#menu {
    height: 100px;
    box-shadow: 0px 12px 10px -15px #5e626b;
}

@media (min-width: 576px) {

}


@media (min-width: 768px) {

}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}